.DS_Store
1. SOTU/rpkg
4. CCH/Hearings_Fulltext.csv
4. CCH/Hearings_Sentiment_Detailed.csv
4. CCH/Hearings_Sentiment_Detailed_Merged.csv
4. CCH/Hearings_Sentiment_Detailed_Merged_Clean.csv
4. CCH/Hearings_Sentiment_Detailed_Merged_Clean_Deduped.csv
4. CCH/Hearings_Sentiment_Summary.csv
4. CCH/Hearings_Sentiment_Summary_Merged.csv
4. CCH/Hearings_Sentiment_Summary_Merged_Clean.csv
4. CCH/Hearings_Sentiment_Summary_Merged_Clean_Deduped.csv
